html,
body {
    height: 100%;
}

#root {
    height: 100%;
}


a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}
